* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --marromClaro: #f8f4ec;
  --marromMedio: #efe6d8;
  --marromEscuro: #855438;
  --fontDM: "DM Sans", sans-serif;
  --fontLora: "Lora", serif;
}

header {
  background-color: var(--marromClaro);
  height: 167px;
  font-family: var(--fontDM)
}

.container_ger {
  max-width: 1200px;
  width: 95%;
}

.container_header {
  background-color: aqua;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.container_header img {
  width: 167px;
}

header a {
  text-decoration: none;
  color: #9a8b7e;
  margin: 10px;
}

.box_busca {
  position: relative;
}

.box_busca input {
  background-color: var(--marromMedio);
  border: none;
  padding: 20px;
  padding-left: 25px;
  padding-bottom: 5px;
  border-bottom: solid 1px #a9a9a9;
  font-size: 16px;
  border-radius: 10px;
}

.box_busca svg {
  width: 28px;
  position: absolute;
  fill: #9a8b7e;
  left: -3px;
  top: 15px;
}

.box_busca input:focus {
  outline: none;
}
