* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --marromClaro: #f8f4ec;
  --marromMedio: #efe6d8;
  --marromEscuro: #855438;
  --fontDM: "DM Sans", sans-serif;
  --fontLora: "Lora", serif;
}

header {
  background-color: var(--marromClaro);
  height: 150px;
  font-family: var(--fontDM);
  border-bottom: var(--marromMedio) solid 2px;
}

.container_ger {
  /* background-color: aqua; */
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.container_header {
  /* background-color: aqua; */
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.container_header img {
  width: 167px;
}

header a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.nav_header{
  display: flex;
  justify-content:center;
  align-items: center;
}

.nav_header a {
  margin: 20px;
  color: #9a8b7e;
  display: inline-block;
  transition: 0.7s ease;
}

.box_busca {
  position: relative;
  width: 500px;
  transition: 0.7s ease;
}

.botao_entrar {
  background-color: var(--marromEscuro);
  color: var(--marromClaro);
  padding: 15px 40px;
  border-radius: 10px;
  display: inline-block;
  transition: 0.7s ease-out;
}

.box_busca input {
  max-width: 500px;
  width: 95%;
  background-color: var(--marromMedio);
  border: none;
  padding: 20px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 16px 12px 40px;
  font-family: var(--fontDM);
  transition: 0.7s ease;
}

.box_busca svg {
  position: absolute;
  width: 28px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  pointer-events: none;
  fill: #9a8b7e;
}

.box_busca input:focus {
  outline: none;
}

.nav_header a:hover {
  color: var(--marromEscuro);
  transform: scale(1.15);
}

.botao_entrar:hover {
  transform: scale(1.15);
  background-color: transparent;
  border: var(--marromEscuro) 1px solid;
  color: var(--marromEscuro);
}

.box_busca:hover{
  transform: scale(1.05);
}

/* ---------- BANNER ---------- */

.banner_home {
  background-color: var(--marromClaro);
}

.box_texto_banner {
  /* background-color: aquamarine; */
  font-family: var(--fontDM);
  padding-top: 65px;
  max-width: 550px;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box_texto_banner svg{
  position: absolute;
  width: 28px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  pointer-events: none;
}

.box_texto_banner span {
  font-family: var(--fontLora);
  font-size: 48px;
  font-weight: 500;
}

.botoes_banner{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.botao_banner1{
  text-decoration: none;
  font-weight: 600;
  background-color: var(--marromEscuro);
  color: var(--marromClaro);
  padding: 15px 60px 15px 30px;
  border-radius: 8px;
  position: relative;
  border: var(--marromEscuro) solid 2px;
}

.botao_banner2{
  text-decoration: none;
  color: var(--marromEscuro);
  background-color: transparent;
  border: var(--marromEscuro) solid 2px;
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: 600;
}


/* ---------- MEDIA --------- */

@media screen and (max-width: 768px) {

  .nav_header {
    display: none;
  }

  .box_busca input {
    font-size: 8px;
  }

  .box_busca svg {
    height: 12px;
  }

  .botao_entrar {
    padding: 7px 20px;
    font-size: 10px;
    border-radius: 8px;
  }



}